<table class="table table-striped table-bordered pretty">
  <thead class="thead-dark">
    <tr>
      <th scope="col">name</th>
      <th scope="col" class="updown"><%= sortable "category" %></th>
      <th scope="col">source</th>
      <th scope="col">destination</th>
      <th scope="col">consignment</th>
      <th scope="col"><%= sortable "entry_at" %></th>
    </tr>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <% if good.exit_at == nil %>
    <tr>
      <td><%= good.name %></td>
      <td><%= good.category %></td>
      <td><%= good.source %></td>
      <td><%= good.destination %></td>
      <td><%= good.consignment %></td>
      <td><%= good.entry_at %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
